<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test_module_for_aar_compile">

    <application>
        <activity
            android:name=".activity_set.ActivityTestModuleForAarCompile"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />
    </application>

</manifest>