<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prowd_android_template">
    <!-- (필요 디바이스 기능 설정) -->
    <!-- <uses-feature -->
    <!-- android:name="android.hardware.camera" -->
    <!-- android:required="true" /> -->
    <!-- (필요 권한 설정) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Application">
        <activity
            android:name=".activity_set.activity_brightness_change_sample.ActivityBrightnessChangeSample"
            android:exported="false" />
        <activity
            android:name=".activity_set.activity_etc_sample_list.ActivityEtcSampleList"
            android:exported="false" />
        <activity
            android:name=".activity_set.activity_ffmpeg_get_video_frame_sample.ActivityFFMpegGetVideoFrameSample"
            android:exported="false" />
        <activity
            android:name=".activity_set.activity_media_player_api_simple_video_sample.ActivityMediaPlayerApiSimpleVideoSample"
            android:exported="false" />
        <activity
            android:name=".activity_set.activity_pinch_image_viewer.ActivityPinchImageViewer"
            android:exported="false" />
        <activity
            android:name=".activity_set.activity_media_player_sample_list.ActivityMediaPlayerSampleList"
            android:exported="false" />
        <activity
            android:name=".activity_set.activity_pinch_image_view_sample.ActivityPinchImageViewSample"
            android:exported="false" />
        <activity
            android:name=".activity_set.activity_easy_lut_sample.ActivityEasyLutSample"
            android:exported="false" />
        <activity
            android:name=".activity_set.activity_image_processing_sample_list.ActivityImageProcessingSampleList"
            android:exported="false" />
        <activity
            android:name=".activity_set.activity_basic_camera2_api_sample.ActivityBasicCamera2ApiSample"
            android:exported="false"
            android:theme="@style/Theme.Camera" />
        <activity
            android:name=".activity_set.activity_basic_header_footer_recycler_view_sample.ActivityBasicHeaderFooterRecyclerViewSample"
            android:exported="false" />
        <activity
            android:name=".activity_set.activity_basic_horizontal_recycler_view_sample.ActivityBasicHorizontalRecyclerViewSample"
            android:exported="false" />
        <activity
            android:name=".activity_set.activity_basic_vertical_recycler_view_sample.ActivityBasicVerticalRecyclerViewSample"
            android:exported="false" />
        <activity
            android:name=".activity_set.activity_permission_sample.ActivityPermissionSample"
            android:exported="false" />
        <activity
            android:name=".activity_set.activity_system_camera_photo_sample.ActivitySystemCameraPhotoSample"
            android:exported="false" />
        <activity
            android:name=".activity_set.activity_camera_sample_list.ActivityCameraSampleList"
            android:exported="false" />
        <activity
            android:name=".activity_set.activity_jni_sample.ActivityJniSample"
            android:exported="false" />
        <activity
            android:name=".activity_set.activity_basic_tab_layout_sample.ActivityBasicTabLayoutSample"
            android:exported="false" />
        <activity
            android:name=".activity_set.activity_basic_bottom_sheet_navigation_sample.ActivityBasicBottomSheetNavigationSample"
            android:exported="false" />
        <activity
            android:name=".activity_set.activity_view_pager_sample_list.ActivityViewPagerSampleList"
            android:exported="false" />
        <activity
            android:name=".activity_set.activity_recycler_view_sample_list.ActivityRecyclerViewSampleList"
            android:exported="false" />
        <activity
            android:name=".activity_set.activity_dialog_sample.ActivityDialogSample"
            android:exported="false" />
        <activity
            android:name=".activity_set.activity_home.ActivityHome"
            android:exported="false" />
        <activity
            android:name=".activity_set.activity_init.ActivityInit"
            android:exported="true"
            android:theme="@style/Theme.ActivityInit">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>

</manifest>